<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, company_group_user_path(user.group.company_id, user.group_id, user) %></td>
        <td><%= link_to 'ShowNameCard', company_group_user_name_cards_path(user.group.company_id, user.group_id, user) %></td>
        <td><%= link_to 'Edit', edit_company_group_user_path(user.group.company_id, user.group_id, user) %></td>
        <td><%= link_to 'Destroy', company_group_user_path(user.group.company_id, user.group_id, user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_company_group_user_path %>
